.container{
    position: absolute;
    right: 30%;
    bottom: 5%;
    width: 39%;
    height: 80%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    padding-top: 8%;
    cursor: url('/wallpers/sword.svg'),auto;
}
.closeButton {
    height: 30px;
    width: 30px;
    border-radius: 9999px;
    background-color: transparent;
    position: absolute;
    right: 3.5%;
    top: 7.5%;
    background-size: contain;
    cursor: url('/wallpers/sword.svg'),auto;
  }